{{- /*
  Project SEO extras beyond PaperMod defaults.
  PaperMod already emits author, article:*, og:locale, Open Graph, Twitter Cards.
  Keep only: CDN preconnect + site-wide default OG/Twitter image fallback.
*/ -}}

{{- /* Preconnect hints for performance */ -}}
<link rel="preconnect" href="https://res.cloudinary.com" crossorigin>
<link rel="dns-prefetch" href="https://res.cloudinary.com">
{{- if site.Params.analytics.google.measurementID -}}
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
{{- end -}}

{{- /* Default Open Graph / Twitter image when page has no cover or content images */ -}}
{{- $page := . -}}
{{- with site.Params.seo.defaultImage -}}
  {{- $defaultImg := . -}}
  {{- if not $page.Params.cover.image -}}
    {{- $images := partial "templates/_funcs/get-page-images" $page -}}
    {{- if not $images -}}
<meta property="og:image" content="{{ $defaultImg }}">
<meta name="twitter:image" content="{{ $defaultImg }}">
    {{- end -}}
  {{- end -}}
{{- end -}}
