name: Optimize Images
on:
  push:
    paths:
      - 'static/**' # 僅當 static 資料夾有變動時觸發
jobs:
  build:
    name: image-optimize
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Optimize Images
        uses: calibreapp/image-actions@main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true # 僅壓縮，不影響解析度
          jpegQuality: "80"  # 設定 JPG 品質為 80
          pngQuality: "80"   # 設定 PNG 品質為 80
          webpQuality: "80"  # 如果你有 webp 也一併處理